
body {
  font-family: 'Roboto', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgb(6, 34, 6);
    background-color: rgba(71, 79, 102, 0.692);
 
}


a{
  
  margin-right: 3rem;
}

.active{
  font-weight: bold;
  color: #61dafb;
}

.center{
  text-align: center;
  color: black;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 95%;
}

.center2{
  text-align: center;
    color: rgb(139, 107, 0);
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}

.center3{
  text-align: justify;
  color: rgb(131, 73, 18);
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}

.center4{ 
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.form{ 
  text-align: justify;
    color: black;    
    margin: auto;
    width: 90%;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
